@charset"utf-8";
/*CSSDocument*/
/*常用公共类Public*/
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:400;}
abbr,acronym{border:0none;font-variant:normal;}
a{color:#333;text-decoration:none;outline:none;}
a:hover{text-decoration:none;}
caption,th{text-align:left;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,legend,button,form,fieldset,input,textarea,p,blockquote,th,td,img{margin:0;padding:0;border:0;}
body{background-color:#fff;color:#333;font-family:"微软雅黑",Helvetica,Arial,"HiraginoSansGB","WenQuanYiMicroHei",tahoma,sans-serif;font-size:12px;}
fieldset,img{border:0none;}
h1,h2,h3,h4,h5,h6{color:#333;font-family:"HiraginoSansGB","MicrosoftYaHei","WenQuanYiMicroHei",arial,sans-serif;font-weight:normal;}
img{/*max-width:100%;*/}
input,select,textarea,button{outline:none;}
input,img,select{vertical-align:middle;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input[type='submit'],input[type='button'],input[type='reset'],a,button{cursor:pointer;}
input[disabled]{cursor:default;}
legend{color:#333;}
q::after,q::before{content:"";}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
table{border-collapse:collapse;border-spacing:0;}
ul,ol,li{list-style:none;}
.preClass{display:block;word-wrap:break-word;word-break:break-all;white-space:pre-wrap;line-height:1.6em;}
/*浮动类*/
.left{float:left;}
.right{float:right;}
.auto{margin:0 auto;}
/*字符类*/
/*字符大小类*/
.fs1{font-size:110%;}
.fs2{font-size:120%;}
.fs3{font-size:130%;}
.fs4{font-size:140%;}
.fs5{font-size:150%;}
.fs6{font-size:160%;}
.fs7{font-size:170%;}
.fs8{font-size:180%;}
.fs9{font-size:190%;}
.fs10{font-size:200%;}
/*字符浮动类*/
.tac{text-align:center;}
.tal{text-align:left;}
.tar{text-align:right;}
/*字符粗细类*/
.fwn{font-weight:normal;}
.fwb{font-weight:bold;}
.fwber{font-weight:bolder;}
/*字符颜色类*/
/*红色*/
.fcr{color:#d28073;}
/*绿色*/
.fcg{color:#75BA07;}
/*蓝色*/
.fcb{color:#63abc4;}
/*黄色*/
.fcy{color:#FFBD19;}
/*灰度*/
.fc0{color: #000;}
.fc2{color: #222;}
.fc4{color: #444;}
.fc6{color: #666;}
.fc8{color: #888;}
.fcf{color: #fff;}
/*字符缩进类*/
.ti2{text-indent: 2px}
.ti5{text-indent: 5px}
.ti10{text-indent: 10px}
/*字符截取类*/
.textGrab{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.text80{width: 80px;}
/*外边距类*/
/*上边距1px\3px\5px\10px\20px\30px\40px\50px*/
.mt1{margin-top:1px;}
.mt3{margin-top:3px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}
.mt100{margin-top:100px;}
/*右边距1px\3px\5px\10px\20px\30px\40px\50px*/
.mr1{margin-right:1px;}
.mr3{margin-right:3px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr40{margin-right:40px;}
.mr50{margin-right:50px;}
.mr100{margin-right:100px;}
/*下边距1px\3px\5px\10px\20px\30px\40px\50px*/
.mb1{margin-bottom:1px;}
.mb3{margin-bottom:3px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}
.mb50{margin-bottom:50px;}
.mb100{margin-bottom:100px;}
/*左边距1px\3px\5px\10px\20px\30px\40px\50px*/
.ml1{margin-left:1px;}
.ml3{margin-left:3px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.ml40{margin-left:40px;}
.ml50{margin-left:50px;}
.ml100{margin-left:100px;}
/*内边距类*/
.p25{padding:2px 5px;}
.p55{padding:5px}
.p10{padding:10px}
.p20{padding:20px;}
/*上内边距*/
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt20{padding-top:20px;}
.pt50{padding-top:50px;}
/*右内边距*/
.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr20{padding-right:20px;}
.pr50{padding-right:50px;}
/*下内边距*/
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb20{padding-bottom:20px;}
.pb50{padding-bottom:50px;}
/*左内边距*/
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl20{padding-left:20px;}
.pl50{padding-left:50px;}
/*边框曲率*/
.br2{border-radius:2px;}
.br5{border-radius:5px;}
.br8{border-radius:8px;}
.br10{border-radius:10px;}
/*常用高*/
.h10{height: 10px;}
.h20{height: 20px;}
.h30{height: 30px;}
.h40{height: 40px;}
.h50{height: 50px;}
.h70{height: 70px;}
.h90{height: 90px;}
/*常用行高*/
.lh10{line-height: 10px;}
.lh20{line-height: 20px;}
.lh30{line-height: 30px;}
.lh40{line-height: 40px;}
.lh50{line-height: 50px;}
.lh70{line-height: 70px;}
.lh90{line-height: 90px;}
/*边框线*/
.bs1{border: 1px solid #ccc}
.bt1{border-top:1px solid #ccc;}
.br1{border-right:1px solid #ccc;}
.bb1{border-bottom:1px solid #ccc;}
.bl1{border-left:1px solid #ccc;}
/*位置类*/
.pa{position:absolute;}
.pr{position:relative;}
.pf{position:fixed;}
/*元素*/
.dib {display: inline-block;*display: inline;*zoom: 1;}
.db{display: block;}
.dn {display: none;}
.dit{display: inline-table;}
/*背景层*/
/*红色*/
.br{background:#d28073;}
/*绿色*/
.bg{background:#75BA07;}
/*蓝色*/
.bb{background:#63abc4;}
/*黄色*/
.by{background:#FFBD19;}
/*灰度*/
.b2{background: #222;}
.b4{background: #444;}
.b6{background: #666;}
.b8{background: #888;}
.bb{background: #bbb;}
.be{background: #eee;}
.bf{background: #fff;}
.bf1{background: #f1f1f1;}
.bf2{background: #f2f2f2;}
.bf3{background: #f3f3f3;}
.bf4{background: #f4f4f4;}
.bf6{background: #f6f6f6;}
.bf8{background: #f8f8f8;}
.bfa{background: #fafafa;}
/*宽度*/
.w1{width: 5%;}
.w2{width: 10%;}
.w3{width: 15%;}
.w4{width: 20%;}
.w5{width: 25%;}
.w6{width: 30%;}
.w7{width: 35%;}
.w8{width: 40%;}
.w9{width: 45%;}
.w10{width: 40%;}
.w11{width: 55%;}
.w12{width: 60%;}
.w13{width: 65%;}
.w14{width: 60%;}
.w15{width: 75%;}
.w16{width: 80%;}
.w17{width: 85%;}
.w18{width: 90%;}
.w19{width: 95%;}
.w20{width: 100%;}
.w1000{width: 1000px;}
.w1100{width: 1100px;}
.w1200{width: 1200px;}
/*预定义块*/
/*顶部块*/
.bar-top{
    height: 30px;
    line-height: 30px;
    background: #f1f1f2;
}
/*内容块*/
.mainContent{
    width: 1200px;
}
/*脚底块*/
.footer{
    box-shadow: 2px 2px 5px #222;
}
/*表单块*/
form .item input[type=password], .item input[type=text] {
    border: 1px solid #ddd;
    border-radius: 3px;
}
form .item input[type=password]:focus, .item input[type=text]:focus {
    border-color: rgba(102, 175, 233, 1);
    outline: 0 none;
}